# ignore all files and folders for Docker build context ...
**

# ...except wanted files
!src/
!build.gradle
!gradle.properties
!gradlew
!gradle/
!settings.gradle
!conf-test.json
!role-permissions-test.json

# get build infos from git
!.git 
