# ignore all files and folders for Docker build context ...
**

# except the following files and folders
!src
!build.gradle
!gradle.properties
!settings.gradle

# files for testing
# !conf-test.json # does not exist, is provided by Jenkins config file provider
!role-permissions-test.json
!conf-jenkins.json
