# ignore all files and folders for Docker build context ...
**

# ...except binaries from gradle build
# !build/libs/*
!src
!build.gradle
!gradle.properties
# !gradlew
# !gradlew.bat
!settings.gradle

# files for testing
!conf-test.json
!role-permissions-test.json
