# Tableaux specific
conf.json
conf-test.json
uploads/
.vertx/
uploads*
!src/test/resources/com/campudus/tableaux/uploads

# Gradle
.gradle/
build/

# IDEA specific
.idea/
*.iml

# Scala specific
*.class
*.log
*.sc

# SBT specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Eclipse specific
.project
.classpath