# Tableaux specific
conf.json
conf-*.json
!conf-example.json
!conf-github-ci.json
uploads/
.vertx/
uploads*
classes/
!src/test/resources/com/campudus/tableaux/uploads
bin/
out/
**.DS_Store
role-*.json
!role-permissions-example.json
!role-permissions-test.json

# Gradle
.gradle/
build/

# IDEA specific
.idea/
*.iml

# Scala specific
*.class
*.log
*.sc

# SBT specific
.cache*
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Eclipse specific
.project
.classpath
.settings

# zsh
.gradletasknamecache
/file-uploads
/.bloop
/.metals

# local log properties
local_logging.properties
